@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

body {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family:'Montserrat',sans-serif;
  background-color: #C5ECFE;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 1.5em;
}

.newTemp {
  margin: 10px;
  display: flex;
  background-color: #F8846C;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  border-radius: 10px;
}

.newTemp2 {
  margin: 10px;
  display: flex;
  background-color: #F8BF6C;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  border-radius: 10px;
}

.newTemp3 {
  margin: 10px;
  display: flex;
  background-color: #F8F06C;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  border-radius: 10px;
}
label{
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 0 10px 0;
}

p, label, input, button {
  margin-left: 20px;
}

button {
  background-color: #fff;
  border-radius: 7px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 7px;
  padding: 5px;

}
input {
  width: 220px;
  margin-bottom: 5px;
}

